/* genral */
@font-face {
font-family: 'HelveticaNeueLT';
src: url('../fonts/_HelveticaNeueLT\ B.otf');
src: url('../fonts/_HelveticaNeueLT.otf') ;
src: url('../fonts/HelveticaNeueLT\ B.otf'); 
src: url('../fonts/HelveticaNeueLT.otf') ;
    }
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F5F1FA;
    border-radius: 20px 0px 0px 20px;
    /* padding: 80px; */

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E8E0F2;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'HelveticaNeueLT';
        src: url('../fonts/_HelveticaNeueLT\ B.otf');
        src: url('../fonts/_HelveticaNeueLT.otf') ;
        src: url('../fonts/HelveticaNeueLT\ B.otf'); 
        src: url('../fonts/HelveticaNeueLT.otf') ;
    
}

.langmenu {
    transform: translate(-51px, 27px) !important;
    text-align: center;
}

hr {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

body {
    
    direction: ltr;
    background-color: #FBF9FE;
    overflow-x: hidden !important;
    /* height: 1000px; */
    
        font-family: 'HelveticaNeueLT';
        src: url('../fonts/_HelveticaNeueLT\ B.otf');
        src: url('../fonts/_HelveticaNeueLT.otf') ;
        src: url('../fonts/HelveticaNeueLT\ B.otf'); 
        src: url('../fonts/HelveticaNeueLT.otf') ;
            
}

.clear {
    clear: both;
}

a {
    text-decoration: none !important;

}

/* top nav */
.topheaderback{
    background: #4C00A9;
}
.topheaderul {
    padding: 0;
    margin: 0;
}

.topheaderul li {
    display: inline-block;
    padding: 10px;
   

}

.topheaderul li a {
    color: #FFFFFF;
    font-size: 14px;
}

.btn-secondary {
    color: #707070 !important;
    background: none !important;
    border: none !important;
    font-size: 14px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-toggle::after {
    display: none;
}

.topheader {
    display: flex;
    justify-content: space-between;
}

.langmenu {
    transform: translate(-51px, 27px) !important;
    text-align: center;
}
.langdrop {
    margin-top: 10px;
}
.langspan{
    font-size: 14px;
    color: #FFFFFF;
}

/* loadbar */

.load-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    height: 5px;
    background-color: #FF9133;
    width: 100%;
    z-index: 99999999999;
}

.linear {
    position: absolute;
    height: 100%;
    /* background-image: linear-gradient(90deg, transparent, white, transparent); */
    width: 100%;
    max-width: 700px;
}

.load-bar {
    animation-name: width;
    animation-delay: 0s;
    animation-duration: 2s;
    /* animation-iteration-count:1; */
    animation-timing-function: ease-out;
    animation-direction: normal;
}

@keyframes width {
    0% {
        transform: translateX(-100%);
    }
    100% {
        /* transform: translateX(100%); */
    }
}

.mapsidediv {
    position: relative;
}

.overlay input[type=text] {
    transition: 0.5s;
}


/* navbar */

nav{
    height: 6rem;
    width: 100vw;
    /* background-color: #131418; */
    background-image: linear-gradient(-45deg, #61269D -18%, #11CEC8 100%);
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
    display: flex;
    position: fixed;
    z-index: 10;
}
.navcontent{
    margin-top: 0.6em;
    display: flex;
}
/*Styling logo*/
.logo{
    /* padding:1vh 1vw; */
    text-align: center;
}
.logo img {
    /* height: 5rem;
    width: 5rem; */
    width: 120%;
    margin-top: 0.5em;
    filter: brightness(0) invert(1);
    object-fit: contain;
    /* filter: brightness(0%); */
    /* filter:grayscale(100%) */
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 1em;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    font-size: 12px;
    color:#C9D8FF;
    font-weight: 400;
}
.nav-links li a:hover {
    color: #4C00A9;
    
}
.dropdown-menuhome li a:hover {
    color: #fff;
    background-color: #2D143DE0 !important;
    padding: 1em;
}
.dropdown-menuhome li a:hover:before {
   display: none;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #4C00A9;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 2.5em;
    top: 2em;
}
.nav-links li a:hover::before{
    width: 30%;
}

/*Styling Buttons*/
.login-button{
    

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #fff !important;
    background-color: #FB0066;
    /* border: 1.5px solid #FB0066; */
    border-radius: 10px;
    /* padding: 1em 1.8rem; */
    font-size: 18px;
    cursor: pointer;
    /* line-height: 1; */
    /* text-align: center; */
    padding: 0em 1.8em;
    font-weight: bold;
}
.join-button:hover {
    color: #4C00A9;
    background-color: #FF9133;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #4C00A9;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}


/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



/* search popup */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay-content form {
    border-radius: 50px;
    overflow: hidden !important;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=search] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: right;
    width: 80%;
    background: white;
}

.overlay input[type=search]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: right;
    width: 20%;
    padding: 15px;
    background-color: #FB0066;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #ffff;
    transition: 0.5s;
}

.overlay button:hover {
    background: #df0ab1;
}

.srchicon{
    cursor: pointer;
    margin: 0 2em;
}
.navbtns{
    display: flex;
    margin-top: 1.5em;
    margin-left: -2em;
}


/* home */
.home{
    background-image: linear-gradient(-45deg, #61269D 0%, #11CEC8 100%);
    min-width: 100%;
    min-height: 80vh;
    position: relative;
}
.homesection{
    margin-top: 6em;
    background: transparent;
    
    /* opacity: 0.5; */
    position: relative;
    /* height: 100vh; */
    /* opacity: 0.5; */
    z-index: 1;
}

.homesection:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/Group2619.svg);
    top: 0;
    left: 0;
    right: 0;
    /* opacity: 0.2; */
    z-index: -1;
    background-position-y: no-repeat;
}
.hometitlediv{
    text-align: center;
    margin: auto;
}
.hometitle{
    font-size: 52px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: auto;
    /* margin-bottom: 1.2em; */
    /* animation:fadeInRightBig ease 1.2s !important; */
    transform: translate(0em, 4em);
}
.waveimg{
    transform: translate(0px, 338px);
    /* position: absolute; */
    width: 100%;
    bottom: 0;
    top: 20em;
    height: 100px;
}
.homeimg{
    width: 100%;
    animation:fadeInRightBig ease 0.8s !important;
}
.homemorebtn {
    animation:fadeInRightBig ease 1.6s !important;

}
.homecontent{
    
    padding: 5em 0;
    /* position: absolute; */
    /* background: #FBF9FE; */
    /* z-index: 5; */
}
/* common countries */
.titlebtns{
    display: flex;
    justify-content: space-between;
}
.commoncountries{
    background-color: #F5F1FA;
    padding: 6em 0;
}
.countriestitle{
    color: #4A4A4A;
    font-weight: bold;
    font-size: 42px;
    animation:fadeInRightBig ease 1.2s !important;

}
.dropsection{
    margin: 2em 0;
    background: #F5F1FA 0% 0% no-repeat padding-box !important;
    animation:fadeInRightBig ease 1.6s !important;

}
.morebtncontent{
    margin-top: -1.4em;
    animation:fadeInRightBig ease 1.6s !important;

}
/* countries btns */


.nav-pills .nav-link {
    color: #4A4A4A !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #FF9133 !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
.tabsbtns{
    background-color: #fff !important;
    padding: 1em 1em 0 0.5em;
    border-radius: 10px;
    animation:fadeInRightBig ease 0.8s !important;

}
/* start toggle countries section */
.click{
    /* background:#efefef; */
    height:auto;
    cursor:pointer;
    margin-top:10px;
    padding:18px 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 40px #4C00A926;
border-radius: 10px;
font-size: 14px;
font-weight: bold;
color: #4A4A4A;
  }

  .click i{
       color: #b7acac;
      font-size: 12px;
      margin-top: 5px;
  }
  
  .content{
    display:none
  }
  
  .rotate {
      transform: rotate(-180deg);
      /*transform: rotate(180deg);*/
      transition: .3s;
  }
  .rotate-reset {
      transform: rotate(0deg);
      transition: .3s;
  }
  
  
  p i{
    float:left;
  }
  p img{
    float:right;
    transform: translate(25%, -9%);
    width: 17%;
  }
  .commonsecond p img{
    float:right;
    transform: translate(25%, -9%);
    width: 8%;
  }
  /* end toggle countries section */

  /* more toggle btn */
  .morebtncontent{
    display: none;
  }
 





/* loading btn */
.action-btn {
    background-color: #FB0066;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    color: #FFFFFF;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    display: block;
    margin: auto;
    width: 25%;
    text-align: center;
  }

.action-btn:after {
    content: '';
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border: 0.15em solid transparent;
    border-right-color: #fff;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
  }
  .morebtncommon{
    display: none;
  }
  .morebtncommon:hover{
    color: #fff !important;
  }
  @keyframes button-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .action-btn.loading {
    color: transparent;
  }
  
  .action-btn.loading:after {
    opacity: 1;
  }

/* countries content */
.buybtn {
    text-align: center;
    margin: auto;
    display: block;
    border: 1px solid #fff;
    margin: 0 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    border-radius: 5px;
    padding: 1em !important;
    margin: auto;
    background: none;
    color: #fff;
    width: 90%;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
.cartcontent{
    background: transparent linear-gradient(90deg, #9E1324 0%, #860F1F 100%) 0% 0% no-repeat padding-box;
    position: relative;
border-radius: 10px;
min-width: 133%;
    margin: 25% 5%;
}
.commonsecond .cartcontent {
    background: transparent linear-gradient(90deg, #9E1324 0%, #860F1F 100%) 0% 0% no-repeat padding-box;

    border-radius: 10px;
    min-width: 64%;
    margin: 12% 2%;
}

.cartcontent:after{
    position: absolute;
    content: "";
    top: -4em;
    left: 0em;
    width: 100%;
    height: 100%;
    background-image: url(../images/de749b5a-da9a-47bf-9380-48ecf6a7e35c.png);
    background-repeat: no-repeat;
}
.commonsecond .cartcontent:after {
    position: absolute;
    content: "";
    top: -4em;
    left: 0em;
    width: 100%;
    height: 100%;
    background-image: url(../images/de749b5a-da9a-47bf-9380-48ecf6a7e35c.png);
    background-repeat: no-repeat;
}
.commonsecond .cartcontentturkey {
    background: transparent linear-gradient(90deg, #B81F35 0%, #AA1D34 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    min-width: 64%;
    margin: 12% 2%;
}
.cartcontentturkey{
    background: transparent linear-gradient(90deg, #B81F35 0%, #AA1D34 100%) 0% 0% no-repeat padding-box;
border-radius: 10px;
min-width: 133%;
    margin: 25% 5%;
    position: relative;
}
.cartcontentturkey:after{
    position: absolute;
    content: "";
    top: -4em;
    left: 0em;
    width: 100%;
    height: 100%;
    background-image: url(../images/8bafe89f-479d-478a-b086-09e08ed7faa2.png);
    background-repeat: no-repeat;
}
.cartcontentturkeybuy:after{
    position: absolute;
    content: "";
    top: -4em;
    left: 0em;
    width: 100%;
    height: 100%;
    background-image: url(../images/8bafe89f-479d-478a-b086-09e08ed7faa2.png);
    background-repeat: no-repeat;
}
.cartcontentinternational{
    background: transparent linear-gradient(90deg, #0984A0 0%, #070841 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding-bottom: 0.5em;
    margin-bottom: 4em;
    margin-top: 2em;
    position: relative;
}
.cartcontentinternational:after {
    position: absolute;
    content: "";
    top: -4em;
    left: 0em;
    width: 100%;
    height: 100%;
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
}
.interbigdiv{
    margin: 4em 0 5em 0;
}
.cartcontent div {
    padding:1em;
}
.cartcontentturkey div {
    padding:1em;
}
.cartcontentinternational > div{
    padding:1em;
}
#exampleModal .modal-body{
    padding: 0;
    padding-bottom: 5em;
}
#exampleModal .modal-content{
    border-radius: 20px;
    overflow: hidden;
}
.cartmodalcontent{
    display: flex;
    justify-content: space-between;
}
#exampleModal .buysection{
background: transparent linear-gradient(59deg, #0984A0 0%, #070841 100%) 0% 0% no-repeat padding-box;
border-radius: 20px 20px 0px 0px;
/* padding: 3em 2em; */
padding: 3em 2em 4em 2em;
}
#exampleModal .modal-dialog {
    max-width: 1000px !important;
}
.buyimg{
    transform: translate(4%, 0%);
    width: 105%;
    object-fit: scale-down;
    height: 300px;
    margin-bottom: -0.5em;
}
.buycontent{
    width: 95%;
}
.doit{
    background: #FF9133 !important;
    color: #fff !important;
    position: absolute;
    top: 26.5em;
        left: 3em;
}
.price{
    color: #494949 !important;
    font-size: 14px;
    font-weight: bold;
}
.buysectiontwo{
    padding: 4em 2em 3em 2em;
    position: relative;
}
.buysectiontwo h2 {
    color: #494949;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 1.5em;
}
.buysectiontwofside{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 50px #4C00A91A;
border-radius: 20px;
position: relative;
padding: 2em;
max-height: 500px;
overflow: auto;
}
.buysectiontwofside span{
    color: #8F8F8F !important;
    font-size: 14px;
}
.buysectiontwofside hr {
    color: #8F8F8F !important;
    margin: 1em 0;
}
.buysectiontwosside{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 50px #4C00A91A;
border-radius: 20px;
padding: 2em;
position: relative;
padding-bottom: 1.7em;
}
.lastbuysection{
    padding: 0 2em;
}
.divstyleemarites{
    
        display: flex;
        justify-content: space-between;
        transform: translate(220%, 0%);
    
}
.divstyleusa{
    
        display: flex;
        justify-content: space-between;
        transform: translate(330%, 0%);
    
}
.checkboxlabel{
    color: #4C00A9;
    font-size: 14px;
    font-weight: bold;
}
.checkboxlabeltwo{
    color: #8F8F8F;
    font-size: 14px;
    font-weight: bold;
    margin: 2em 0;
}

.dorequire{
    background: #FE9033 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin: AUTO;
    DISPLAY: BLOCK;
    WIDTH: 25%;
    TEXT-ALIGN: CENTER;
    padding: 0.5em;
    margin-top: 2em;
}

.buysectiontwosside h3 {
    color: #494949;
    font-weight: bold;
    font-size: 20px;
}
.buysectiontwosside  span{
    color: #8F8F8F !important; 
    font-size: 14px;

}
.codeinput{
    position: relative;
    font-size: 14px;
    padding: 0.5em 3em 0.5em 0;
    background: #FBF9FD 0% 0% no-repeat padding-box;
border: 1px solid #EEE8F5;
border-radius: 10px;
}
.codeinputpic{
    position: absolute;
    top: 23.5em;
    right: 2.8em;
    background: #E8E0F2 0% 0% no-repeat padding-box;
    border-radius: 5px;
    /* opacity: 0.5; */
    width: 20px;
    height: 20px;
    padding: 0.2em;
}
.buysectiontwosside .minicontent span{
    color: #8F8F8F !important; 
    font-size: 14px;

}
.buysectiontwosside .minicontent h6{
    font-size: 14px; 
    color: #494949 !important;
    margin-top: 1em;
}
.creditcard{
    margin-top: 1em;
}
.selectbtn{
    margin-top: 1em;
}
.buysectiontwosside hr {
    color: #8F8F8F !important;
    margin: 1.4em 0;
}
.buysectiontwosside button{
    background: #F5F1FA 0% 0% no-repeat padding-box;
border: 1px solid #EEE6F8;
border-radius: 5px;
font-size: 14px;
color: #8F8F8F;
padding: 0.2em 1.5em;
}
.srchform{
    position: relative;
}

.srchinput{
    position: relative;
    color: #8F8F8F;
    font-size: 14px;
    padding-right: 2em;
    padding: 0.7em 3em;
    background: #F5F1FA70;
}
.srchimg{
    position: absolute;
    width: 12px;
    top: 1em;
    right: 1.5em;
}
.buycontent span{
    font-size: 14px;
    color: #fff
}
.buycontent .d-flex{
    justify-content: space-between;
}
.minicontent h6{
    color: #8F8F8F !important;
    font-size: 14px !important;
}
.minicontent span {
    color:#4A4A4A !important;
    font-size: 14px;
}
.minidesc{
    margin-top: -0.5em;
}
.cartsecondcontent{
    background: #fff;
    border-radius: 20px;
    padding: 2em;
    max-height: 395px;
    overflow: auto;
    margin-top: 2.7em;
}
.cartsecondcontent hr {
    color: #8F8F8F !important;
    margin: 1em 0 1.5em 0;
}
.cartfirstsection hr {
    margin: 1em 0;
}
.buyfsectiontitle{
    color: #fff;
    font-weight: bold;
    font-size: 32px;
}
.divstyle{
    display: flex;
    justify-content: space-between;
}
.divstyleturkey{
    display: flex;
    justify-content: space-between;
    transform: translate(110%, 0%);
}
.commonsecond .divstyleturkey{
    display: flex;
    justify-content: space-between;
    transform: translate(105%, 0%);
}
.cartcontent a,h6,span,hr {
    color: #fff !important;
    font-size: 14px;
}
.cartcontent h5{
 color: #fff;
 font-size: 18px;
 font-weight: bold;
}

.cartcontentturkey a,h6,span,hr {
    color: #fff !important;
    font-size: 14px;
}
.cartcontentturkey h5{
 color: #fff;
 font-size: 18px;
 font-weight: bold;
}

.cartcontentinternational a,h6,span,hr {
    color: #fff !important;
    font-size: 14px;
}
.cartcontentinternational h5{
 color: #fff;
 font-size: 18px;
 font-weight: bold;
}

/* how to work section */
.worksection{
    position: relative;
    padding: 6em 0;
    background-color: #FBF9FE;
    background-image: url(../images/Path1951.png);
    background-repeat: no-repeat;

    background-position-y: bottom;
    background-size: 42%;
    background-position-x: -6em;
    z-index: -1;
}
.worksectionbigcontent{
    position: relative;
    z-index: 1;
}
.worksection:after {
    position: absolute;
    content: "";
    top: -222px;
    right: -200px;
    width: 35%;
    height: 82%;
    /* background-color: #FBF9FE; */
    background-image: url(../images/Path1951.png);
    background-repeat: no-repeat;
    /* background-position-y: bottom; */
    /* background-size: 161%; */
    /* background-position-x: -6em; */
    /* z-index: 10; */
}
.worksectiontitle{
    color: #4A4A4A;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 1em;
    animation:fadeInRightBig ease 0.8s !important;
}
.esimactiveimg{
    animation:fadeInRightBig ease 1s !important;
}
.qrcodeimg{
    animation:fadeInRightBig ease 1.4s !important;

}
.frontimg{
    animation:fadeInRightBig ease 1.8s !important;

}
.worksectiondescactive{
    animation:fadeInRightBig ease 1.2s !important;

}
.worksectiondescinstall{
    animation:fadeInRightBig ease 1.6s !important;

}
.worksectiondescfront{
    animation:fadeInRightBig ease 2s !important;

}
.downloadappimg{
    animation:fadeInRightBig ease 2s !important;

}
.worksectiondesc{
    animation:fadeInRightBig ease 2.2s !important;
    
}
.worksectiondesc ,.worksectiondescactive , .worksectiondescinstall, .worksectiondescfront{
    color: #4A4A4A !important;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 1em;
}
.worksectioncontent{
    text-align: center;
}
/* why us section */
.whyussection, .mycarousel, .whyuscarousel, .item , .whyusbigcontent{
    overflow: hidden !important;
}
.firstitem{
    animation:fadeInRightBig ease 1.2s !important;

}
.seconditem{
    animation:fadeInRightBig ease 0.8s !important;

}
.whyusbigcontent{
    animation:fadeInRightBig ease 0.8s !important;

}
 .whyussecondcontent{
    animation:fadeInRightBig ease 1.6s !important;

}
 .whyusfirstcontent{
    animation:fadeInRightBig ease 1.2s !important;

}
.whyussection{
    padding: 4em 0;
    background-color: #F5F1FA;
    position: relative;
}
.whyusbigcontent{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 40px #4C00A926;
border-radius: 20px;
overflow: hidden !important;
padding: 2em;
}
.whyustitle{
    color: #4A4A4A !important;
    font-size: 32px;
    font-weight: bold;
}
.whyusdesc{
    color: #707070 !important;
    font-size: 14px;
}
.whyusfirstcontent{
    text-align: center;
    background-image: url(../images/Path2536.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 2em;
} 
.itemimgwhyus{
    width: 60% !important;
    margin: auto;
}
.itemimgwhyustwo{
    width: 49% !important;
    margin: auto;
}
.whyussecondcontent{
    background: #F9F6FC 0% 0% no-repeat padding-box;
border-radius: 10px;
    padding: 2em;
}
.whyussecondcontent p{
    color: #707070 !important;
    font-size: 14px !important;
}
.whyussecondcontent h5{
    color: #4A4A4A !important;
    font-size: 20px !important;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}

.stylewhyus{
    display: flex;
    justify-content: space-between;
}
.stylewhyussmall{
    display: flex;
}
.stylewhyussmall i {
    color: #FCB52C;
}
.stylewhyussmall span{
    color: #4A4A4A !important;
    font-size: 14px;
    font-weight: bold;
    transform: translate(-10%, 10%);
}
.personimg{
    width: 30% !important;
    object-fit: contain;
    /* background: #4C00A9; */
    border-radius: 50px;
    padding: 0.5em;
    background: #ded4e9 0% 0% no-repeat padding-box;
/* opacity: 0.15; */
}
.whyuscarousel .item{
    padding: 2em 1em;
    margin: 0 !important;
}
.whyuscarousel.owl-carousel, .owl-carousel .owl-item{
    position: unset !important;
  
}
.whyuscarousel.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block !important;
    
}
/* .whyuscarousel.owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent !important;
} */
.whyuscarousel.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    transform: translate(39em,-26em);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #FB006626;
    
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
}
.whyuscarousel.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    transform: translate(-37em,-26em);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #FB006626;
    
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: all 0.5s;

}

.whyuscarousel.owl-carousel .owl-nav button.owl-next:hover{
    background: #FB0066 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 30px #FB006626;
}
.whyuscarousel.owl-carousel .owl-nav button.owl-prev:hover{
    background: #FB0066 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 30px #FB006626;
}
.whyuscarousel.owl-carousel .owl-nav button.owl-next:hover img{
    filter: brightness(0) invert(1) !important;
}
.whyuscarousel.owl-carousel .owl-nav button.owl-prev:hover img{
    filter: brightness(0) invert(1) !important;
}


.clientscarousel.owl-carousel, .owl-carousel .owl-item{
    position: unset !important;
  
}
.ckientscarousel.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block !important;
    
}
/* .clientscarousel.owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent !important;
} */
.clientscarousel.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    transform: translate(39em,-19em);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #FB006626;

border-radius: 50px;
width: 50px;
height: 50px;
transition: all 0.5s;

}
.clientspicsection{
    background: transparent linear-gradient(90deg, #FF9133 0%, #4C00A9 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding: 0 10em;
}
.clientspicsection h2{
    font-weight: bold;
    color: #fff;
    font-size: 42px;
    line-height: 1.6;
}
.clientspicsection span{
    color: #E8D5FF !important;
    font-size: 14px;
    letter-spacing: 2px;
    display: block;
    margin: 2em 0;
}
.picsectioncontent{
    transform: translate(22%, 24%);
}
.mobileimg{
    margin-top: -4em;
}
.clientscarousel.owl-carousel .owl-nav button.owl-prev:hover{
    background: #FB0066 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 30px #FB006626;

}
.clientscarousel.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    transform: translate(-37em,-19em);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #FB006626;
    
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
}
.clientscarousel.owl-carousel .owl-nav button.owl-next:hover{
    background: #FB0066 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 30px #FB006626;
}
.clientscarousel.owl-carousel .owl-nav button.owl-next:hover img{
    filter: brightness(0) invert(1) !important;
}
.clientscarousel.owl-carousel .owl-nav button.owl-prev:hover img{
    filter: brightness(0) invert(1) !important;
}
/* clientscarousel */
.clientssectiontitle{
    margin: auto;
    color: #4A4A4A;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: -1em;
    margin-bottom: 1em;
}
.clientsopinion{
    position: relative;
    background-image: url(../images/Path2540.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 42%;
    background-position-y: -8em;
    background-position-x: 56em;
    padding: 6em 0;
}
.clientscarousel{
    position: relative;
}
.clientscarousel .item{
    padding: 2em 1em;
    margin: 0 !important;
}
.clientscarousel .owl-item.active{
    transform: scale(0.7);
}
.clientscarousel .owl-item.active.center{
    position: relative !important;
    transform: scale(1.1);
}
.clientscarousel:after{
    position: absolute;
    content: "";
    /* top: 1em; */
    /* right: 28em; */
    background-image: url(../images/Group1539.svg);
    width: 10%;
    height: 10%;
    background-repeat: no-repeat;
    object-fit: contain;
    transform: translate(-424%, -991%);
}
.clientsopinion .mycarosel{
    position: relative;
}
.clientsopinion .mycarosel:after{
    position: absolute;
    content: "";
    /* top: 5em; */
    /* right: 21.5em; */
    background-image: url(../images/qatar.svg);
    width: 10%;
    height: 10%;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: 1;
    transform: translate(-332%, -874%);
}
.clientsopinion .mycarosel:before{
    position: absolute;
    content: "";
    /* top: 25.5em; */
    /* right: 21.5em; */
    background-image: url(../images/france.svg);
    width: 10%;
    height: 10%;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: 2;
    transform: translate(-314%, 745%);
}
.clientsopinion:before{
    position: absolute;
    content: "";
    /* top: 39em; */
    /* right: 35em; */
    background-image: url(../images/Layer\ 66.svg);
    width: 10%;
    height: 10%;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: 2;
    transform: translate(-411%, 430%);
}
.clientsopinion:after{
    position: absolute;
    content: "";
    /* top: 35em; */
    /* right: 40.5em; */
    background-image: url(../images/italy.svg);
    width: 10%;
    height: 10%;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: 2;
    transform: translate(-483%, -462%);
}
.clientscarousel:before{
    position: absolute;
    content: "";
    /* top: 5em; */
    /* right: 34em; */
    background-image: url(../images/saudi-arabia.svg);
    width: 10%;
    height: 10%;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: 1;
    transform: translate(-500%, 144%);
}
.clientscarousel .owl-item.active.center:after{
    position: absolute;
    content: "";
    width: 420px;
    height: 420px;
    border-radius: 50%;
    top: -6.8em;
    right: -3.1em;
    background: transparent;
    margin: auto;
    text-align: center;
    /* color: red; */
    border: 1px solid #dcd7e2;
    z-index: -1;
    animation:fadeInRightBig ease 1s !important;

}
.clientscarousel .owl-item.active.center:before{
    position: absolute;
    content: "";
    width: 350px;
    height: 350px;
    border-radius: 50%;
    top: -4.5em;
    right: -0.9em;
    background: transparent;
    margin: auto;
    text-align: center;
    /* color: red; */
    border: 1px solid #dcd7e2;
    z-index: -1;
    animation:fadeInRightBig ease 0.8s !important;

}
.clientscarousel .item{
    /* padding: 2em 1em; */
    /* margin: 0 !important; */
}
.clientscarousel .center .item .itemcontent{
 padding: 1em;
}
.clientscarousel .item .itemcontent{
    padding: 2em;
   }
.clientscarousel .item .itemcontent{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 8px 30px #6F2AC217;
border-radius: 10px;
/* padding: 2em; */
}
.clientscarousel .center .item {
  
    transform: scale(1.5);
    
    animation: myOrbitt 1s linear;
   
}


.clientsstyle{
    text-align: center;
}
.clientscarousel .item .center p {
    font-size: 8px !important;
    color: #707070;
    letter-spacing: 0;
    /* line-height: 1.6; */
}
.clientscarousel .item p {
    font-size: 8px !important;
    color: #707070;
    letter-spacing: 0;
    line-height: 1.6;
}
.styleclients{
    display: flex;
    justify-content: center;
    margin-top: -0.5em;
    margin-bottom: 0.8em;
}
.styleclients i{
    color:#FCB52C;
    font-size: 11px;
}
.flagimgdiv{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
padding: 0.4em 0.3em 0.3em 0.3em;
}
.secondcontent{
    background: #F9F6FC 0% 0% no-repeat padding-box;
border-radius: 5px;
padding: 0.2em;
}
.clientscarousel .item .center h6{
    color: #4A4A4A !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: -4px !important;
    margin-top: 3px !important;
}
.clientscarousel .item h6{
    color: #4A4A4A !important;
    font-size: 10px;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: -4px !important;
    margin-top: 3px !important;
}
.clientscarousel .item .center span{
    color: #707070 !important;
    font-size: 7px;
}
.clientscarousel .item span{
    color: #707070 !important;
    font-size: 7px;
}
.clientscarousel .owl-stage {
    padding: 10em 0;
}
.flagimgdiv{
    width: 18% ;
    /* height: 10%; */
}
.clientspic{
    width: 100%;
}
@keyframes myOrbit {
    from {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

@keyframes myOrbitt {
    0% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}


/* footer */
.myfooter .footerul li a:hover , .myfooter .socialul li a:hover{
    color: #5595DC !important;
    transition: all 0.5s;
}
.myfooter{
    background-image: linear-gradient(-45deg, #61269D 0%, #11CEC8 100%);
    padding: 5em 0em 5em 0;
    position: relative;
}
/* .myfooter:after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #FB0066;
    top: 11em;
    right: 4em;
    border-radius: 50px;
    animation: myOrbit 6s linear infinite;
}
.myfooter:before{
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    background: #FF9133;
    top: 15em;
    right: 3.4em;
    border-radius: 50px;
    animation: myOrbit 4s linear infinite;
} */
.footershape{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background:#FFFFFF;
    top: 18em;
    right: 7em;
    border-radius: 50px;
    animation: myOrbit 2s linear infinite;
}
.lastfooter{
    background: #fff;
    padding: 15px 30px 15px 30px;
    border-radius: 100px 100px 100px 100px;
    margin-top: 2em;
}
.lastfooterp{
    color: #778EB7 !important; 
    font-size: 14px;
   
}
.footerlastul{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}
.footerul li{
    padding: 0.3em;
}
.footerul li a {
    padding: 0em !important;
    color: #778EB7 !important; 
    font-size: 13px;
}
.footerp{
    color: #778EB7;
    font-size: 14px;
    margin: 2em 0 3em 0;
    margin-left: 2em;
    
}
.pages h5 {
    color: #011B70;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
.socialul li{
    display: inline-block;
    display: block;   background-color: #F7F8FB;
      padding: 0.6em;     border-radius: 50px;
      width: 40px;
      height: 40px;
}
.socialul li a i {
     display: block;   background-color: #F7F8FB;
    border-radius: 50px 50px 50px
 50px;
 font-size: 20px;
 color: #5C83BC;
 transition: all 0.5s;
}
.socialul li:hover{
    background-color: #1E65B5;
    color: #fff;
    transition: all 0.5s;
}
.socialul li:hover > a i{
    background-color: #1E65B5;
    color: #fff;
    transition: all 0.5s;
}
.pages{
    margin-right: 2.3em;
}
.footerlogo{
    margin-bottom: 1em;
    margin-left: 1em;
}
.footerinsta{
    margin: 0 0.5em;
}
.lastfooterimg{
    width: 30%;
    transform: translate(205px, -2px);
}


/* login registercode */
.loginspan{
    color: #adb5bd !important;
    display: block;
    text-align: center;
    margin-top: -4.7em;
    opacity: 1;
    margin-bottom: 2em;
}
.myfcol{
    padding: 0;
    margin: 0;
}
.mycol{
     position: fixed; top: 0; left: 0; 
               background: transparent linear-gradient(38deg, #FF9133 0%, #4C00A9 100%) 0% 0% no-repeat padding-box;
}
.joinusside{
    margin: 6em 2em;
}
.welcomecontent{
    text-align: center;
    margin-top: -2em;
}
.welcomecontent h2{
    color: #fff;
    font-size: 42px;
    font-weight: bold;
}
.welcomecontent span{
    color: #fff;
    font-size: 18px;
}
.welcomeimgdiv{
    margin-top: -3em;
}
.loginicons{
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
}
.loginicons :nth-of-type(3){
    color: #fff;
    background-color: black;    
    padding: 0.5em;
    font-size: 25px;
    border-radius: 5px;
}
.loginicons :nth-of-type(2){
    color: #fff;
    background-color: #0984A0;
    padding: 0.5em;
    font-size: 25px;
    border-radius: 5px;
}
.loginicons :nth-of-type(1){
    color: #fff;
    /* background-color: rgba(17, 148, 56, 0.829);     */
    padding: 0.5em;
    font-size: 25px;
    border-radius: 5px;
}
.login-wrap {
    overflow: hidden;
    width: 100%;
    margin: 1.5em auto;
    max-width: 404px;
    min-height: 800px;
    position: relative;
    /* background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center; */
    /* background: transparent linear-gradient(38deg, #FF9133 0%, #4C00A9 100%) 0% 0% no-repeat padding-box; */
    background: #fff;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    border-radius: 20px;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 50px 50px 50px;
	/* background:rgba(40,57,101,.9); */
    /* background: transparent linear-gradient(38deg, #FF9133 0%, #4C00A9 100%) 0% 0% no-repeat padding-box; */
    background: #fff;
    margin-top: -3em;
}
.registerp{
    color: #797f85;
    font-size: 14px;
    text-align: center;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:25px;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
    color: #4A4A4A;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    
	color: #4C00A9;
	border-color: #4C00A9;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:black;
	display:block;
}
.login-form .group .button{
    color: #fff;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:5px;
	background:lightgray;
    direction: rtl !important;
}
.group.d-flex{
    justify-content: space-between;
    margin: 2em 0;
}
.dropdown-menuhome{
    padding: 1em 1em 1em 0;
    border-radius: 10px;
    text-align: left !important;
}
.dropdown-menuhome h6 {
    color: black !important;
}
.dropdown-menuhome hr{
    color: #FB0066 !important;
    margin: auto;   
    text-align: center;
    width: 80%;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
#password-field, #passwordd-field, .group, .sign-up-htm , .sign-in-htm, .login-form, .login-html , .login-wrap{
    position: relative;
}
.eyeimg{
    position: absolute;
    color: #0d6efd !important;
    top: 1.5em;
    left: 1em;
}
.login-form .group .button{
	background:#FB0066;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color: #4A4A4A;
	
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.login-html .hr{
    height: 1px;
    margin: 40px 0 50px 0;
    background: rgba(155, 132, 132, 0.1);
}
.foot-lnk{
	text-align:center;
}
.checkboxlabeltwo a{
    color: #4C00A9 !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
/* privay policy page */
.privacypolicy{
    margin-top: 7em;
}
.privacytitle{
    text-align: center;
    color: #4A4A4A;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}
.privacyhr{
    color: rgb(126, 125, 125) !important;
}
.btn-primary{
    background: #FB0066 !important;
    border: none;
}
.privacypolicy h3{
    color: #4A4A4A;
    font-size: 32px;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}
.privacypolicy h4{
    color: #4A4A4A;
    font-size: 25px;
    font-weight: bold;
}
.privacypolicy p {
    font-size: 14px;
    color: #707070;
}
.privacypolicy span{
    color: #a099a8 !important;
    font-size: 16px;
    display: block;
    margin-bottom: 0.5em;
}
.privacypolicysidesection{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 50px #4c00a91a;
    border-radius: 20px;
    padding: 2em;
    margin-top: 3em;
    position: relative;
}
.privacypolicysidesection hr {
    color: rgb(126, 125, 125) !important;

}
.privacypolicymainsection{
    padding: 0 4em;
}
.privacypolicysidesection a{
    font-size: 14px;
    font-weight: bold;
    color: #a099a8 !important;
    opacity: 0.6;
}
.privacypolicysidesection a{
position: relative;
}
.privacypolicysidesection a:after{
    position: absolute;
    content: "";
    top: 2em;
    /* right: 4.5em; */
    width: 29px;
    height: 3px;
    /* margin: auto; */
    background: slateblue;
}
/* contactus page */
.contactusform input,.contactusform textarea, .contactusform select{
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: lightgray;
    direction: rtl !important;
    margin: 1em 0;
}
.contactusform select{
    color: #707070;
}
.contactusform select option{
    color: #707070 !important;
}
.contactusform input:focus,.contactusform textarea:focus, .contactusform select:focus{
    border:2px solid black !important;
    padding: 15px 20px;
    border-radius: 5px;
    background: lightgray;
    direction: rtl !important;
    box-shadow: none !important;
}
.contactusform button{
    color: #fff !important;
    background-color: #FB0066;
    border: 0;
    border-radius: 5px;
    padding: 0.5em;
    display: block;
    width: 25%;
}
/* be partener page */
#exampleModall .modal-body {
    padding: 0 !important;
    padding: 1em 0.5em !important;
}
.btnmodal{
    background-color: #FB0066 !important;
    border: 0 !important;
    display: block !important;
    margin: auto !important;
    width: 25%;
    margin-top: 2em !important;
}
.point{
    background-color: green;    
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-top: 0.2em;
}
.airmonycontent.d-flex{
    background: linear-gradient(270deg,#f09819,#edde5d);
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%);
    border-radius: 10px;
    padding: 1.2em 1em 0 1em;
    margin-top: 2em;
}
.airmonycontent span{
    color: #fff !important;
    font-weight: bold;
    font-size: 11px;
    
}
.privacypolicymainsection.profile{
    margin-top: 3em;
}
.hermonytwo hr , .privacypolicymainsection.profile hr{
color: rgb(180, 180, 180) !important;
margin: 1em 0;
}
.infobtn{
    background: none;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin-top: -5px;
}
.hermonytwo{
    margin-top: 4em;
}
.hermonytwo h6 {
    color: #4a4a4a !important;
    
}
.listm{
    margin-top: -2em;
    margin-bottom: 1.5em;
}
.hermonytwo span{
    color: #8a8a8a ;
    font-size: 11px;
}
.hermonythree span{
    color: #7ec027 !important;
    font-weight: bold;
    font-size: 16px !important;
    margin-top: 1em;
}
.contactusform button {
    color: #fff !important;
    background-color: #FB0066;
    border: 0;
    border-radius: 5px;
    padding: 1.7em;
    display: block;
    width: 25%;
    height: 1px;
    margin-top: 1em;
    line-height: 0;
}
.border{
    box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
    background: #fff;
}
.mainflex{
    justify-content: space-between;
}

/*Stying for small screens*/
@media screen and (min-width: 1050px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}
  @media screen and (max-width: 1050px){
    .logo img {
        width: 75% ;
    }
    .mycol{
        padding-bottom: 10em;
    }
    .whyuscarousel.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled, .clientscarousel.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
        display: none !important;
        
    }
    .navbtnslitwo , .navbtnslithree , .cartli{
        display: none;
    }
  
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 15%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        transform: translate(12.7%, -4%);
        justify-content: space-evenly;
        padding-bottom: 3em;
        background-color: #FBF9FE;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        transform: translate(-3.5%, -5%);
        padding-bottom: 3em;
        background-color: #FBF9FE;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1 !important;
    }
}

@media screen and (min-width: 1050px){
   
    .navbtns{
        display: flex;
    }
    .cartli , .srchli , .registerli {
        display: none;
    }

}
/* responsive */

@media screen and (max-width: 767px){
    .waveimg{
        transform: translate(0px, 261px);
    }
    .navbtnslione{
        margin: auto;
        text-align: center;
        margin-top: -0.5em;
    }
    .privacypolicy , .privacypolicymainsection {
        margin-top: 7em !important;
    }
    .privacypolicymainsection {
        padding: 0;
    }
    .buyfsectiontitle{
        font-size: 25px;
    }
    .buyfsectiontitle.two{
        font-size: 25px;
        margin-top: 1.5em;
    margin-bottom: -0.5em;
    }
    .minicontent h6{
        font-size: 10px !important;
    }
    .minicontent span{
        font-size: 10px;
    }
    .buysectiontwo h2{
        font-size: 25px;
        margin-bottom: 1em;
    margin-top: 1.5em;
    }
    .doit {
        position: unset;
        margin-top: 1em;
    }
    .mycol{
        display: none;
    }
    .dorequire{
        font-size: 10px !important;
    }
    .codeinputpic{
        position: unset;
    }
    .codeinput{
        font-size: 10px;
    }
    .buysectiontwosside .minicontent span{
        font-size: 10px;
    }
    .buysectiontwofside span {
        font-size: 10px;
    }
    .invitedcountries img{
        width: 25px;
    }
    .buyimg{
        height: unset;
        margin-bottom: unset;
    }
    .tabsbtns{
        overflow: auto;
    }
    .nav{
        flex-wrap: unset !important;
        min-width: 145%;
    }
    .homeimg{
        width: 100% !important;
    }
    nav{
        height: 5rem;
    }
    .googleplay{
        margin-top: 1em;
    }
    .logo {
        padding: 0;
        text-align:unset;
    }
    .logo img {
        width: 75%;
        margin-top: 0.5em;
    }
    .applestore{
        margin-top: 2em;
        margin-bottom: 5em;
    }
    .clientspicsection h2{
        font-size: 25px;
    }
    .clientspicsection span{
        font-size: 10px;
    }
    .homeimg {
        /* width: 60% !important; */
    }
    .cartcontent, .cartcontentinternational, .cartcontentturkey {
        min-width: 100%;
        margin: 4em 0 !important;
        padding-bottom: 1px;
    }
    .worksection{
        padding: 3em 0 1em 0;
    }
    .worksectiondesc, .worksectiondescactive, .worksectiondescinstall, .worksectiondescfront{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .worksectiontitle {
        font-size: 25px;
        margin-bottom: 1em !important;
    }
    .whyussection {
        padding: 3em 0 1em 0;
    }
    .clientsopinion{
        padding: 4em 0 6em 0;
    }
    
    
.worksectiontitle{
    font-size: 30px;
    margin-bottom: 0;
}
    .whyusbigcontent{
        padding: 1em;
    }
    .whyustitle{
        font-size: 25px;
    }
    .whyusdesc{
        font-size: 10px;
    }
    .stylewhyussmall span{
        font-size: 8px;
    }
    .whyussecondcontent h5{
        font-size: 14px !important;
    }
    .whyussecondcontent p{
        font-size: 10px !important;
    }
    .whyussecondcontent{
        padding: 1em;
    }
    .clientssectiontitle{
        font-size: 25px;
        margin-bottom: 0;
    }
    .clientspic {
        width: 100%;
        margin: -3em 0;
    }
    .clientscarousel .owl-stage {
        padding:0;
    }
    .flagimgdiv {
        width: 18%;
        height: 10%;
        margin: auto 0.1em;
    }
    .clientscarousel .item span{
        font-size: 6px;
    }
    .clientscarousel .center .item{
        transform: none;
    }
    .lastfooterimg {
        width: 50px;
        padding-bottom: 0.5em;
        transform: none;
    }
    .lastfooterp{
        font-size: 9px;
        margin: auto 0;
    }
    .myfooter{
        padding: 3em 0em 2em 0;
    }
    .footerlogo{
        width: 40%;
    }
    .pages{
        margin-right: 0;
    }
    .pages ul {
        padding: 0;
        padding-left: 1.2rem;
    }
    .pages h5 {
        margin-right: 0;
        font-size: 19px;
    }
    .topheaderul li {
        display: inline-block;
        padding: 10px 0;
    }
 
    .homeimg {
        width: 100%;
        margin-top: -6em;
    }
    .titlebtns{
        display: block;
    }
    .countriestitle {
        color: #4A4A4A;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 1em;
        margin-top: -1em;
    }
    .action-btn {
        width: 100%;
    }
    .divstyle , .divstyleturkey, .commonsecond .divstyleturkey , .divstyleemarites ,.divstyleusa{
        display: block;
        transform: none;
    }
    .cartcontent, .cartcontentinternational , .cartcontentturkey{
        min-width: 100%;
        margin: 1em 0;
        padding-bottom: 1px;
    }
    .commonsecond .cartcontent , .commonsecond .cartcontentturkey {
        margin: 1em 0;

    }

    .cartcontent:after, .cartcontentinternational:after , .cartcontentturkey:after{
        left: -1.6em;
    }
    .commonsecond .cartcontent:after , .commonsecond .cartcontentturkey:after {
        left: -1.6em;

    }
    .commonsecond p img, p img{
        width: 10%;
    }
}
@media screen and (max-width: 500px) and (min-width: 360px) {
    .commonsecond p img, p img {
        transform: translate(25%, 30%);
    }
}
@media screen and (max-width: 1300px) and (min-width: 768px) {
    .mycol{
        padding-bottom: 10em;
    }
    .myfooter {
        background: #4C00A9;
        padding: 3em 0em 1em 0;
        position: relative;
    }
    .footerul li a {
        padding: 0em !important;
        color: #E8D5FF !important;
        font-size: 12px;
    }
    .pages h5 {
        color: #F2E8FE;
        font-size: 15px;
        font-weight: bold;
        margin-right: 0;
        margin-bottom: 1em;
    }
.myfooter ul {
    padding: 0 !important;
}
.clientscarousel .item {
    padding: 2em 3em
}
    .clientscarousel .center .item {
         transform: none;
    }
    .clientscarousel .owl-stage {
        padding: 0;
    }
    .socialul{
        padding: 0;
    }
    .action-btn{
        font-size: 11px;
    }
    .commonsecond .cartcontentturkey,  .commonsecond .cartcontent{
        margin: 30% 2%;
    }
    .cartcontent, .cartcontentturkey{
        margin: 70% 5%;
    }
    .cartcontentturkey:after ,  .cartcontent:after  {
        top: -6em;
    left: -0.5em;
    }
    .cartcontentinternational:after{
        
    top: -6.3em;
    left: 0.3em;

    }
   .commonfirst .click{
        font-size: 10px;
        padding: 1em;
        width: 108%;
    }
    .click i {
        font-size: 10px;
    }
    p img{
        width: 10%;
        transform: translate(25%, 25%);
    }
    .cartcontent , .cartcontentturkey{
        min-width: 136%;
    }
}


@media screen and (max-width: 1300px){
.clientsopinion .mycarosel:after , .clientsopinion .mycarosel:before , .clientscarousel:before, .clientsopinion:after,
.clientsopinion:before, .clientscarousel:after, .clientscarousel .owl-item.active.center:before , .clientscarousel .owl-item.active.center:after,
.myfooter:before , .myfooter:after , .footershape , .whyuscarousel.owl-carousel .owl-nav button.owl-prev , .whyuscarousel.owl-carousel .owl-nav button.owl-next,
.clientscarousel.owl-carousel .owl-nav button.owl-prev , .clientscarousel.owl-carousel .owl-nav button.owl-next
{
    display: none;
}

.mobileimg {
    margin-top: -4em;
    width: 100%;
}
.clientspicsection{
    padding: 1em;
}
.picsectioncontent {
    transform: none;
}
}

/* @media screen and  (max-width:1050px) and (min-width:690px){
    .nav-links.open{
        transform: translate(11%, -4%);
    }
} */
@media screen and  (max-width:992px) and (min-width:690px){
    .nav-links.open{
        transform: translate(11.5%, -4%);
    }
    .doit {
        position: unset;
        margin-top: 1em;
    }
  
    .dorequire{
        font-size: 10px !important;
    }
    .codeinputpic{
        position: unset;
    }
    .codeinput{
        font-size: 10px;
    }
}
@media screen and  (min-width:992px) and (max-width:1050px){
    .nav-links.open{
        transform: translate(11%, -4%);
    }
}
@media screen and  (min-width:700px) and (max-width:770px){
    .nav-links.open{
        transform: translate(16%, -4%);
    }
}

@media screen and  (min-width:900px) and (max-width:1000px){
    .nav-links.open{
        transform: translate(14.5%, -4%) !important;
    }
}

@media screen and (min-width:1000px) and (max-width:1300px){
    .clientscarousel .item {
        padding: 0;
    }
    .clientscarousel .item span {
        color: #707070 !important;
        font-size: 6px;
    }
    .flagimgdiv {
        width: 18%;
        height: 10%;
        margin: auto 0;
    }
}

@media screen and (min-width: 450px) and (max-width: 767px){
    .clientscarousel .item {
        padding: 2em;
    }
}