/* genral */
@font-face {
font-family: 'HelveticaNeueLT';
src: url('../fonts/_HelveticaNeueLT\ B.otf');
src: url('../fonts/_HelveticaNeueLT.otf') ;
src: url('../fonts/HelveticaNeueLT\ B.otf'); 
src: url('../fonts/HelveticaNeueLT.otf') ;
    }
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F5F1FA;
    border-radius: 20px 0px 0px 20px;
    /* padding: 80px; */

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E8E0F2;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'HelveticaNeueLT';
        src: url('../fonts/_HelveticaNeueLT\ B.otf');
        src: url('../fonts/_HelveticaNeueLT.otf') ;
        src: url('../fonts/HelveticaNeueLT\ B.otf'); 
        src: url('../fonts/HelveticaNeueLT.otf') ;
    
}

.langmenu {
    transform: translate(-51px, 27px) !important;
    text-align: center;
}

hr {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

body {
    
    direction: ltr;
    background-color: #FBF9FE;
    overflow-x: hidden !important;
    /* height: 1000px; */
    
        font-family: 'HelveticaNeueLT';
        src: url('../fonts/_HelveticaNeueLT\ B.otf');
        src: url('../fonts/_HelveticaNeueLT.otf') ;
        src: url('../fonts/HelveticaNeueLT\ B.otf'); 
        src: url('../fonts/HelveticaNeueLT.otf') ;
            
}

.clear {
    clear: both;
}

a {
    text-decoration: none !important;

}



.btn-secondary {
    color: #707070 !important;
    background: none !important;
    border: none !important;
    font-size: 14px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-toggle::after {
    display: none;
}

.topheader {
    display: flex;
    justify-content: space-between;
}

.langmenu {
    transform: translate(-51px, 27px) !important;
    text-align: center;
}
.langdrop {
    margin-top: 10px;
}
.langspan{
    font-size: 14px;
    color: #FFFFFF;
}

/* loadbar */

.load-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    height: 5px;
    background-color: #FF9133;
    width: 100%;
    z-index: 99999999999;
}

.linear {
    position: absolute;
    height: 100%;
    /* background-image: linear-gradient(90deg, transparent, white, transparent); */
    width: 100%;
    max-width: 700px;
}

.load-bar {
    animation-name: width;
    animation-delay: 0s;
    animation-duration: 2s;
    /* animation-iteration-count:1; */
    animation-timing-function: ease-out;
    animation-direction: normal;
}

@keyframes width {
    0% {
        transform: translateX(-100%);
    }
    100% {
        /* transform: translateX(100%); */
    }
}

.mapsidediv {
    position: relative;
}

.overlay input[type=text] {
    transition: 0.5s;
}


/* navbar */

nav{
    height: 6rem;
    width: 100vw;
    /* background-color: #131418; */
    background-image: linear-gradient(-45deg, #61269D -18%, #11CEC8 100%);
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
    display: flex;
    position: fixed;
    z-index: 10;
}
.navcontent{
    margin-top: 0.6em;
    display: flex;
}
/*Styling logo*/
.logo{
    /* padding:1vh 1vw; */
    text-align: center;
}
.logo img {
    /* height: 5rem;
    width: 5rem; */
    width: 120%;
    margin-top: 0.5em;
    filter: brightness(0) invert(1);
    object-fit: contain;
    /* filter: brightness(0%); */
    /* filter:grayscale(100%) */
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 1em;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    font-size: 12px;
    color:#C9D8FF;
    font-weight: 400;
}
.nav-links li a:hover {
    color: #4C00A9;
    
}
.dropdown-menuhome li a:hover {
    color: #fff;
    background-color: #2D143DE0 !important;
    padding: 1em;
}
.dropdown-menuhome li a:hover:before {
   display: none;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #4C00A9;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 2.5em;
    top: 2em;
}
.nav-links li a:hover::before{
    width: 30%;
}

/*Styling Buttons*/
.login-button{
    

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #fff !important;
    background-color: #FB0066;
    /* border: 1.5px solid #FB0066; */
    border-radius: 10px;
    /* padding: 1em 1.8rem; */
    font-size: 18px;
    cursor: pointer;
    /* line-height: 1; */
    /* text-align: center; */
    padding: 0em 1.8em;
    font-weight: bold;
}
.join-button:hover {
    color: #4C00A9;
    background-color: #FF9133;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #4C00A9;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}


/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



/* search popup */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay-content form {
    border-radius: 50px;
    overflow: hidden !important;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=search] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: right;
    width: 80%;
    background: white;
}

.overlay input[type=search]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: right;
    width: 20%;
    padding: 15px;
    background-color: #FB0066;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #ffff;
    transition: 0.5s;
}

.overlay button:hover {
    background: #df0ab1;
}

.srchicon{
    cursor: pointer;
    margin: 0 2em;
}
.navbtns{
    display: flex;
    margin-top: 1.5em;
    margin-left: -2em;
}
.dropdown-menuhome{
    text-align: left;
    padding-right: 1em;
}

/* home */
.home{
    background-image: linear-gradient(-45deg, #61269D 0%, #11CEC8 100%);
    min-width: 100%;
    min-height: 80vh;
    position: relative;
}
.homesection{
    margin-top: 6em;
    background: transparent;
    
    /* opacity: 0.5; */
    position: relative;
    /* height: 100vh; */
    /* opacity: 0.5; */
    z-index: 1;
}

.homesection:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/Group2619.svg);
    top: 0;
    left: 0;
    right: 0;
    /* opacity: 0.2; */
    z-index: -1;
    background-position-y: no-repeat;
}
.hometitlediv{
    text-align: center;
    margin: auto;
}
.hometitle{
    font-size: 52px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: auto;
    /* margin-bottom: 1.2em; */
    /* animation:fadeInRightBig ease 1.2s !important; */
    transform: translate(0em, 4em);
}
.waveimg{
    /* transform: translate(0px, 338px); */
    /* position: absolute; */
    transform: translate(0px, -6em);
    width: 100%;
    /* bottom: 0; */
    /* top: 20em; */
    height: 100px;
}
.homeimg{
    width: 100%;
    animation:fadeInRightBig ease 0.8s !important;
}
.homemorebtn {
    animation:fadeInRightBig ease 1.6s !important;

}
.homecontent{
    
    padding: 5em 0;
    /* position: absolute; */
    /* background: #FBF9FE; */
    /* z-index: 5; */
}
/* common countries */
.titlebtns{
    display: flex;
    justify-content: space-between;
}
.commoncountries{
    background-color: #F5F1FA;
    padding: 6em 0;
}
.countriestitle{
    color: #4A4A4A;
    font-weight: bold;
    font-size: 42px;
    animation:fadeInRightBig ease 1.2s !important;

}
.dropsection{
    margin: 2em 0;
    background: #F5F1FA 0% 0% no-repeat padding-box !important;
    animation:fadeInRightBig ease 1.6s !important;

}
.morebtncontent{
    margin-top: -1.4em;
    animation:fadeInRightBig ease 1.6s !important;

}
/* countries btns */


.nav-pills .nav-link {
    color: #4A4A4A !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #FF9133 !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
.tabsbtns{
    background-color: #fff !important;
    padding: 1em 1em 0 0.5em;
    border-radius: 10px;
    animation:fadeInRightBig ease 0.8s !important;

}
/* start toggle countries section */
.click{
    /* background:#efefef; */
    height:auto;
    cursor:pointer;
    margin-top:10px;
    padding:18px 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 40px #4C00A926;
border-radius: 10px;
font-size: 14px;
font-weight: bold;
color: #4A4A4A;
  }

  .click i{
       color: #b7acac;
      font-size: 12px;
      margin-top: 5px;
  }
  
  .content{
    display:none
  }
  
  .rotate {
      transform: rotate(-180deg);
      /*transform: rotate(180deg);*/
      transition: .3s;
  }
  .rotate-reset {
      transform: rotate(0deg);
      transition: .3s;
  }
  
  
  p i{
    float:left;
  }
  p img{
    float:right;
    transform: translate(25%, -9%);
    width: 17%;
  }
  .commonsecond p img{
    float:right;
    transform: translate(25%, -9%);
    width: 8%;
  }
  /* end toggle countries section */

  /* more toggle btn */
  .morebtncontent{
    display: none;
  }
 





/* loading btn */
.action-btn {
    background-color: #FB0066;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    color: #FFFFFF;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    display: block;
    margin: auto;
    width: 25%;
    text-align: center;
  }

.action-btn:after {
    content: '';
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border: 0.15em solid transparent;
    border-right-color: #fff;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
  }
  .morebtncommon{
    display: none;
  }
  .morebtncommon:hover{
    color: #fff !important;
  }
  @keyframes button-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .action-btn.loading {
    color: transparent;
  }
  
  .action-btn.loading:after {
    opacity: 1;
  }

@keyframes myOrbit {
    from {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

@keyframes myOrbitt {
    0% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}


/* footer */
.myfooter .footerul li a:hover , .myfooter .socialul li a:hover{
    color: #5595DC !important;
    transition: all 0.5s;
}
.myfooter{
    background-image: linear-gradient(-45deg, #61269D 0%, #11CEC8 100%);
    padding: 5em 0em 5em 0;
    position: relative;
}
/* .myfooter:after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #FB0066;
    top: 11em;
    right: 4em;
    border-radius: 50px;
    animation: myOrbit 6s linear infinite;
}
.myfooter:before{
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    background: #FF9133;
    top: 15em;
    right: 3.4em;
    border-radius: 50px;
    animation: myOrbit 4s linear infinite;
} */
.footershape{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background:#FFFFFF;
    top: 18em;
    right: 7em;
    border-radius: 50px;
    animation: myOrbit 2s linear infinite;
}
.lastfooter{
    background: #fff;
    padding: 15px 30px 15px 30px;
    border-radius: 100px 100px 100px 100px;
    margin-top: 2em;
}
.lastfooterp{
    color: #778EB7 !important; 
    font-size: 14px;
   
}
.footerlastul{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}
.footerul li{
    padding: 0.3em;
}
.footerul li a {
    padding: 0em !important;
    color: #778EB7 !important; 
    font-size: 13px;
}
.footerp{
    color: #778EB7;
    font-size: 14px;
    margin: 2em 0 3em 0;
    margin-left: 2em;
    
}
.pages h5 {
    color: #011B70;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
.socialul li{
    display: inline-block;
    display: block;   background-color: #F7F8FB;
      padding: 0.6em;     border-radius: 50px;
      width: 40px;
      height: 40px;
}
.socialul li a i {
     display: block;   background-color: #F7F8FB;
    border-radius: 50px 50px 50px
 50px;
 font-size: 20px;
 color: #5C83BC;
 transition: all 0.5s;
}
.socialul li:hover{
    background-color: #1E65B5;
    color: #fff;
    transition: all 0.5s;
}
.socialul li:hover > a i{
    background-color: #1E65B5;
    color: #fff;
    transition: all 0.5s;
}
.pages{
    margin-right: 2.3em;
}
.footerlogo{
    margin-bottom: 1em;
    margin-left: 1em;
}
.footerinsta{
    margin: 0 0.5em;
}
.lastfooterimg{
    width: 30%;
    transform: translate(205px, -2px);
}





.border{
    box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
    background: #fff;
}
.mainflex{
    justify-content: space-between;
}

/*Stying for small screens*/
@media screen and (min-width: 1050px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}
  @media screen and (max-width: 1050px){
    .logo img {
        width: 75% ;
    }
   
    .navbtnslitwo , .navbtnslithree , .cartli{
        display: none;
    }
  
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 15%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        transform: translate(12.7%, -4%);
        justify-content: space-evenly;
        padding-bottom: 3em;
        background-color: #FBF9FE;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        transform: translate(-3.5%, -5%);
        padding-bottom: 3em;
        background-color: #FBF9FE;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1 !important;
    }
}

@media screen and (min-width: 1050px){
   
    .navbtns{
        display: flex;
    }
    .cartli , .srchli , .registerli {
        display: none;
    }

}
/* responsive */

@media screen and (max-width: 767px){

    .navbtnslione{
        margin: auto;
        text-align: center;
        margin-top: -0.5em;
    }
  
 
   
    .tabsbtns{
        overflow: auto;
    }
    .nav{
        flex-wrap: unset !important;
        min-width: 145%;
    }
    .homeimg{
        width: 100% !important;
    }
    nav{
        height: 5rem;
    }
  
    .logo {
        padding: 0;
        text-align:unset;
    }
    .logo img {
        width: 75%;
        margin-top: 0.5em;
    }



  
    .lastfooterimg {
        width: 50px;
        padding-bottom: 0.5em;
        transform: none;
    }
    .lastfooterp{
        font-size: 9px;
        margin: auto 0;
    }
    .myfooter{
        padding: 3em 0em 2em 0;
    }
    .footerlogo{
        width: 40%;
    }
    .pages{
        margin-right: 0;
    }
    .pages ul {
        padding: 0;
        padding-left: 1.2rem;
    }
    .pages h5 {
        margin-right: 0;
        font-size: 19px;
    }
    .topheaderul li {
        display: inline-block;
        padding: 10px 0;
    }
 
    .homeimg {
        width: 100%;
        margin-top: -6em;
    }
    .titlebtns{
        display: block;
    }
  
    .action-btn {
        width: 100%;
    }
  
  
}

@media screen and (max-width: 1300px) and (min-width: 768px) {
   
    .myfooter {
        background: #4C00A9;
        padding: 3em 0em 1em 0;
        position: relative;
    }
    .footerul li a {
        padding: 0em !important;
        color: #E8D5FF !important;
        font-size: 12px;
    }
    .pages h5 {
        color: #F2E8FE;
        font-size: 15px;
        font-weight: bold;
        margin-right: 0;
        margin-bottom: 1em;
    }
.myfooter ul {
    padding: 0 !important;
}

    .socialul{
        padding: 0;
    }
    .action-btn{
        font-size: 11px;
    }
  
  
}




/* @media screen and  (max-width:1050px) and (min-width:690px){
    .nav-links.open{
        transform: translate(11%, -4%);
    }
} */
@media screen and  (max-width:992px) and (min-width:690px){
    .nav-links.open{
        transform: translate(11.5%, -4%);
    }
    
}
@media screen and  (min-width:992px) and (max-width:1050px){
    .nav-links.open{
        transform: translate(11%, -4%);
    }
}
@media screen and  (min-width:700px) and (max-width:770px){
    .nav-links.open{
        transform: translate(16%, -4%);
    }
}

@media screen and  (min-width:900px) and (max-width:1000px){
    .nav-links.open{
        transform: translate(14.5%, -4%) !important;
    }
}



